.nav {
  display: flex;
  gap: 1rem;
}

.link {
  font-weight: 600;
  text-decoration: none;
  color: var(--fg);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  &.active,
  &:hover {
    background: var(--fg);
    color: var(--bg);
  }
}

@media (max-width: 768px) {
  .nav {
    gap: .5rem;
  }
  .link {
    padding: 0.25rem 0.4rem;
    font-size: .95rem;
  }
}
