@use 'abstracts/variables';
@use 'abstracts/functions';
@use 'abstracts/mixins';

@use 'theme';

@use 'base/reset';
@use 'base/typography';
@use 'layout/grid';
@use 'components/buttons';
@use 'components/card';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text);
  scroll-behavior: smooth;
  overflow-x: hidden;

}