@use 'abstracts/variables' as v;
@use 'sass:map';

html.theme-light {
  --gray-1: #{v.$border-Card-Light};
  @each $name, $value in v.$v-light { --#{$name}: #{$value}; }
  --accent: #{v.$blue};
  --accent-2: #{v.$orange};
  --fg: #{map.get(v.$v-light, "text")};
}

html.theme-dark {
  --gray-1: #{v.$border-Card-Dark};
  @each $name, $value in v.$v-dark { --#{$name}: #{$value}; }
  --accent: #{v.$blue};
  --accent-2: #{v.$orange};
  --fg: #{map.get(v.$v-dark, "text")};
}
