@use 'abstracts/variables' as v;

html.theme-light {
  --gray-1: #{v.$border-Card-Light}; 
  @each $name, $value in v.$v-light {
    --#{$name}: #{$value};
  }
}

html.theme-dark {
  --gray-1: #{v.$border-Card-Dark};
  @each $name, $value in v.$v-dark {
    --#{$name}: #{$value};
  }
}


/* Optionally, apply theme variables to the body */
body {
  background-color: var(--background);
  color: var(--text);
}